<h2>All Merchants</h2>

<div class='merchants'>
<% @users.each do |user| %>
  <div class='each_item' id="user<%=user.id%>">
    <%= link_to user.name, user_path(user) %>
     <% if user.active == true %>
      <%= form_for user do |f| %>
        <%= f.hidden_field :active, :value => false %>
        <%= f.submit "Disable", class: "btn btn-default"%>
      <% end %>
    <% else %>
      <%= form_for user do |f| %>
        <%= f.hidden_field :active, :value => true %>
        <%= f.submit "Enable", class: "btn btn-default"%>
        <% end %>
    <% end %>
    </div>
<% end %>
</div>
