<h2> <%= @user.name %></h2>
<% if current_admin? && current_user != @user %>
  <%= button_to "Upgrade User", user_path(@user, toggle: "user"), method: :patch, class: "upgrade-button" %>
<% end %>

<div>
  <%= render partial: "./partials/profile" %>
</div>

<div class="user_orders">
  <% if @user.orders.length > 0 %>
  <h2>My Orders</h2>
    <% if current_admin? %>
      <%= link_to "My Orders", user_orders_path(@user) %><br><br>
    <% else %>
      <%= link_to "My Orders", profile_orders_path(@user) %><br><br>
      <% end %>
    <% end %>

  <% if @user.role == "admin" %>
    <%= link_to "All Orders", orders_path %>
  <% end %>
</div>
