<br>
<div class='form'>
  <h2>New Item</h2>
  <%= form_for @item do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %>

    <br><%= f.label :description %>:
    <%= f.text_field :description %>

    <br><%= f.label :image %>:
    <%= f.text_field :image, placeholder: "https://www.formaggiokitchen.com/shop/media/catalog/category/Honey-Category-Hero.jpg" %>

    <br><%= f.label :price %>:
    <%= f.text_field :price %>

    <br><%= f.label :inventory_count %>:
    <%= f.text_field :inventory_count %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :active, value: true %>

    <br><%= f.submit %>
  <% end %>
</div>
