<h2>Order Show Page</h2>

Buyer Name: <%= @user.name %><br>
Buyer Address: <%= @user.street_address %><br>


<% if @order_items != nil %>
  <h3>Items Ordered</h3>
  <% @order_items.each do |oi| %>
    <% if oi.item.user_id == current_user.id %>
    <div class="each_item" id="oi<%= oi.id%>">
      <%= image_tag(oi.item.image) %><br>
      Item Name: <%= link_to oi.item.name, item_path(oi.item) %><br>
      Price: <%= number_to_currency(oi.item_price) %><br>
      Quantity: <%= oi.item_quantity %><br>
      <%= "Status: Fulfilled" if oi.fulfill %>
      <% if (oi.item_quantity <=  oi.item.inventory_count) && oi.fulfill == false %>
        <%= form_for oi, url: order_item_path(oi), method: :patch do |f| %>
          <%= f.hidden_field :fulfill, :value => true %>
          <%= f.hidden_field :order_id, :value => oi.order_id %>
          <%= f.submit "Fulfill"%>
        <% end %>
      <% else %>
        <div class="flash">
          Item cannot be fulfilled
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>
