<br>
<h2><%= @user.name %></h2>
<%= button_to "Downgrade User", user_path(@user, toggle: "merchant"), method: :patch, class: "button" %>
<br>
<div>
  <%= render partial: "./partials/profile" %>
</div>
<%= link_to "Edit Merchant Profile", edit_user_path(@user), class: "edit-merchant-button" %>
<br><br>
<%= link_to "Merchant Orders", merchant_orders_path(@user), class: "merchant-orders-button" %>
<%= link_to "Merchant Items", merchant_items_path(@user), class: "merchant-items-button" %>
