<!DOCTYPE html>
<html>
  <head>
    <title>LittleGitShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <h1>Welcome to the Little Git Shop</h1>
    <div class='nav'>
      <ul>
        <li><%= link_to 'Home', root_path, class: 'home-link'%></li>
        <li><%= link_to 'All Items', items_path, class: 'all-items-link'%></li>
        <li><%= link_to 'All Merchants', merchants_path, class: 'all-merchants-link'%></li>
        <li><%= link_to "Shopping Cart (#{@cart.cart_count})", cart_path, class: 'shopping-cart-link'%></li>
        <% if current_user %>
          <% if current_user.role != "user" %>
            <li> <%= link_to 'My Dashboard', dashboard_path, class: 'dashboard-link'%></li>
          <% end %>
          <% if current_user.admin?  %>
            <li> <%= link_to 'All Users', '/users?display=all', class: 'dashboard-link'%></li>
          <% end %>
          <li> <%= link_to 'My Orders', profile_orders_path, class: 'orders-link'%></li>
          <li> <%= link_to 'My Profile', profile_path, class: 'profile-link'%></li>

          <li><%= link_to 'Log Out', logout_path, class: 'logout-link', method: :delete, data: {confirm: "Do you really want to log out?"}%></li>
        <% else %>
          <li><%= link_to 'Log In', login_path, class: 'login-link'%></li>
          <li><%= link_to 'Register', register_path, class: 'register-link'%></li>
        <% end %>
      </ul>
    </div>
  </header>

  <body>
    <div class='flash'>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
